n8n-workflow.json
{
  "name": "Vortex Digital — Form Leads",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "vortex-lead",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "node-webhook",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [240, 300],
      "webhookId": "vortex-lead"
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": { "__rl": true, "mode": "id", "value": "YOUR_GOOGLE_SHEET_ID" },
        "sheetName": { "__rl": true, "mode": "name", "value": "Leads" },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Date":    "={{ $now.format('dd/MM/yyyy HH:mm') }}",
            "Name":    "={{ $json.body.name }}",
            "Email":   "={{ $json.body.email }}",
            "Phone":   "={{ $json.body.phone }}",
            "Role":    "={{ $json.body.role }}",
            "Service": "={{ $json.body.service }}",
            "Status":  "جديد 🆕"
          }
        },
        "options": {}
      },
      "id": "node-sheets",
      "name": "Google Sheets",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4,
      "position": [480, 300]
    },
    {
      "parameters": {
        "chatId": "YOUR_TELEGRAM_CHAT_ID",
        "text": "=🔔 *عميل جديد على Vortex Digital!*\n\n👤 *الاسم:* {{ $('Webhook').item.json.body.name }}\n📧 *الإيميل:* {{ $('Webhook').item.json.body.email }}\n📱 *الهاتف:* {{ $('Webhook').item.json.body.phone }}\n💼 *المهنة:* {{ $('Webhook').item.json.body.role }}\n🚀 *الخدمة:* {{ $('Webhook').item.json.body.service }}\n\n⏰ {{ $now.format('dd/MM/yyyy - HH:mm') }}",
        "additionalFields": {
          "parse_mode": "Markdown"
        }
      },
      "id": "node-telegram",
      "name": "Telegram",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [720, 160]
    },
    {
      "parameters": {
        "sendTo": "={{ $('Webhook').item.json.body.email }}",
        "subject": "✅ تم استلام طلبك — Vortex Digital",
        "emailType": "html",
        "message": "=<div dir='rtl' style='font-family:Arial,sans-serif;max-width:600px;margin:0 auto;padding:30px;background:#f9f9f9;border-radius:12px'>\n  <h2 style='color:#00050A'>مرحباً {{ $('Webhook').item.json.body.name }} 👋</h2>\n  <p style='color:#333;font-size:16px;line-height:1.7'>وصلنا طلبك بنجاح ✅</p>\n  <p style='color:#333;font-size:16px;line-height:1.7'>سيتواصل معك فريقنا خلال <strong>24 ساعة</strong> على رقم <strong>{{ $('Webhook').item.json.body.phone }}</strong></p>\n  <div style='margin:24px 0;padding:16px;background:#00050A;border-radius:8px;color:#00E5FF;font-size:14px'>\n    📋 ملخص طلبك:<br>\n    الخدمة: {{ $('Webhook').item.json.body.service }}\n  </div>\n  <p style='color:#666;font-size:14px'>شكراً على ثقتك في Vortex Digital 🚀</p>\n  <p style='color:#999;font-size:12px;margin-top:24px;border-top:1px solid #eee;padding-top:16px'>— فريق Vortex Digital<br><a href='https://vortexagence.com' style='color:#00E5FF'>vortexagence.com</a></p>\n</div>",
        "options": {}
      },
      "id": "node-gmail",
      "name": "Gmail",
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [720, 420]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={ \"success\": true, \"message\": \"تم استلام طلبك\" }"
      },
      "id": "node-respond",
      "name": "Respond to Webhook",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [960, 300]
    }
  ],
  "connections": {
    "Webhook": {
      "main": [[{ "node": "Google Sheets", "type": "main", "index": 0 }]]
    },
    "Google Sheets": {
      "main": [[
        { "node": "Telegram", "type": "main", "index": 0 },
        { "node": "Gmail",    "type": "main", "index": 0 }
      ]]
    },
    "Telegram": {
      "main": [[{ "node": "Respond to Webhook", "type": "main", "index": 0 }]]
    }
  },
  "settings": {
    "executionOrder": "v1"
  }
}
